[project]
	description = Home work no 1 for the OS course
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/guyrobbie
[access "refs/for/refs/*"]
	read = group user/guyrobbie
	push = group user/guyrobbie
	label-Code-Review = -2..+2 group user/guyrobbie
	label-Verified = -1..+1 group user/guyrobbie
	rebase = group user/guyrobbie
	removeReviewer = group user/guyrobbie
	submit = group user/guyrobbie
[access "refs/heads/*"]
	read = group user/guyrobbie
	create = group user/guyrobbie
	push = +force group user/guyrobbie
	pushMerge = group user/guyrobbie
[access "refs/tags/*"]
	push = +force group user/guyrobbie
	pushTag = group user/guyrobbie
	pushSignedTag = group user/guyrobbie
